<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/unicons.css}"/>
        <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/tooplate-style.css}"/>
    </head>
    <head th:fragment="js">
        <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFIBw8HfCJo="
                crossorigin="anonymous"
        ></script>
        <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/Headroom.js}"></script>
        <script th:src="@{/js/jQuery.headroom.js}"></script>
        <script th:src="@{/js/owl.carousel.js}"></script>
        <script th:src="@{/js/custom.js}"></script>
    </head>
</head>

<body>
<nav th:fragment="navbar-admin" class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/"><i class='uil uil-user'></i>  SI-Factory</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav-admin" aria-controls="navbarNav-admin" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav-admin">
            <ul class="navbar-nav mx-auto">
                <li th:classappend="${#request.requestURI.contains('/item/daftar-item') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/item/daftar-item}" class="nav-link"><span data-hover="Daftar Item">Daftar Item</span></a>
                </li>
                <li th:classappend="${#request.requestURI.contains('/isiguys') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/}" class="nav-link"><span data-hover="Daftar Produksi">Daftar Produksi</span></a>
                </li>
                <li th:classappend="${#request.requestURI.contains('/pegawai/daftar-pegawai') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/pegawai/daftar-pegawai}" class="nav-link"><span data-hover="Daftar Pegawai">Daftar Pegawai</span></a>
                </li>
                <li th:classappend="${#request.requestURI.contains('/pegawai/add-pegawai') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/pegawai/add-pegawai}" class="nav-link"><span data-hover="Buat Pengguna">Buat Pengguna</span></a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/logout}" class="nav-link"><span data-hover="Logout">Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav th:fragment="navbar-factory-manager" class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/"><i class='uil uil-user'></i> SI-Factory</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav-factory-manager" aria-controls="navbarNav-factory-manager" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav-factory-manager">
            <ul class="navbar-nav mx-auto">
                <li th:classappend="${#request.requestURI.contains('/item/daftar-item') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/item/daftar-item}" class="nav-link"><span data-hover="Daftar Item">Daftar Item</span></a>
                </li>
                <li th:classappend="${#request.requestURI.contains('/isiguys') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/}" class="nav-link"><span data-hover="Daftar Produksi">Daftar Produksi</span></a>
                </li>
                <li th:classappend="${#request.requestURI.contains('/item/propose-item') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/item/propose-item}" class="nav-link"><span data-hover="Propose Item">Propose Item</span></a>
                </li>
                <li th:classappend="${#request.requestURI.contains('/pegawai/daftar-pegawai') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/pegawai/daftar-pegawai}" class="nav-link"><span data-hover="Daftar Pegawai">Daftar Pegawai</span></a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/logout}" class="nav-link"><span data-hover="Logout">Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav th:fragment="navbar-staff-gudang" class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/"><i class='uil uil-user'></i> SI-Factory</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav-staff-gudang" aria-controls="navbarNav-staff-gudang" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav-staff-gudang">
            <ul class="navbar-nav mx-auto">
                <li th:classappend="${#request.requestURI.contains('/item/daftar-item') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/item/daftar-item}" class="nav-link"><span data-hover="Daftar Item">Daftar Item</span></a>
                </li>
                <li th:classappend="${#request.requestURI.contains('/isiguys') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/}" class="nav-link"><span data-hover="Daftar Produksi">Daftar Produksi</span></a>
                </li>
                <li th:classappend="${#request.requestURI.contains('/request/daftar-request') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/request/daftar-request}" class="nav-link"><span data-hover="Daftar Request Update Item">Daftar Request Update Item</span></a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/logout}" class="nav-link"><span data-hover="Logout">Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav th:fragment="navbar-staff-kurir" class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/"><i class='uil uil-user'></i> SI-Factory</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav-staff-kurir" aria-controls="navbarNav-staff-kurir" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav-staff-kurir">
            <ul class="navbar-nav mx-auto">
                <li th:classappend="${#request.requestURI.contains('/item/daftar-item') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/item/daftar-item}" class="nav-link"><span data-hover="Daftar Item">Daftar Item</span></a>
                </li>
                <li th:classappend="${#request.requestURI.contains('/isiguys') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/}" class="nav-link"><span data-hover="Daftar Produksi">Daftar Produksi</span></a>
                </li>
                <li th:classappend="${#request.requestURI.contains('/delivery/daftar-delivery') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/delivery/daftar-delivery}" class="nav-link"><span data-hover="Daftar Delivery">Daftar Delivery</span></a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/logout}" class="nav-link"><span data-hover="Logout">Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav th:fragment="navbar-staff-operasional" class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/"><i class='uil uil-user'></i> SI-Factory</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav-staff-operasional" aria-controls="navbarNav-staff-operasional" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav-staff-operasional">
            <ul class="navbar-nav mx-auto">
                <li th:classappend="${#request.requestURI.contains('/item/daftar-item') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/item/daftar-item}" class="nav-link"><span data-hover="Daftar Item">Daftar Item</span></a>
                </li>
                <li th:classappend="${#request.requestURI.contains('/aaaa') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/}" class="nav-link"><span data-hover="Daftar Produksi">Daftar Produksi</span></a>
                </li>
                <li th:classappend="${#request.requestURI.contains('/request/daftar-request') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/request/daftar-request}" class="nav-link"><span data-hover="Daftar Request Update Item">Daftar Request Update Item</span></a>
                </li>
                <li th:classappend="${#request.requestURI.contains('/delivery/daftar-delivery') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/delivery/daftar-delivery}" class="nav-link"><span data-hover="Daftar Delivery">Daftar Delivery</span></a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/logout}" class="nav-link"><span data-hover="Logout">Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<footer th:fragment="footer" class="footer py-5">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <p class="copyright-text text-center">Copyright &copy; 2021 SI-Factory. All rights reserved</p>
                <p class="copyright-text text-center">Designed by <a rel="nofollow" href="/">Kelompok C03-8</a></p>
            </div>

        </div>
    </div>
</footer>
</body>
</html>