<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/unicons.css}"/>
        <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/tooplate-style.css}"/>
    </head>
    <head th:fragment="js">
        <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFIBw8HfCJo="
                crossorigin="anonymous"
        ></script>
        <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/Headroom.js}"></script>
        <script th:src="@{/js/jQuery.headroom.js}"></script>
        <script th:src="@{/js/owl.carousel.js}"></script>
        <script th:src="@{/js/custom.js}"></script>
    </head>
</head>

<body>
<nav th:fragment="navbar-admin" class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img alt="" src="images/partner/sifactory2.png" style="width: 20%; height: 20%;" class=""/>
            SI-Factory</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav-admin" aria-controls="navbarNav-admin" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav-admin">
            <ul class="navbar-nav mx-auto">
                <li th:classappend="${#request.requestURI.contains('/item/daftar-item') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/item/daftar-item}" class="nav-link"><span data-hover="Daftar Item">Daftar Item</span></a>
                </li>
                <li th:classappend="${#request.requestURI.contains('/produksi/daftar-produksi') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/produksi/daftar-produksi}" class="nav-link"><span data-hover="Daftar Produksi">Daftar Produksi</span></a>
                </li>
                <li th:classappend="${#request.requestURI.contains('/pegawai/daftar-pegawai') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/pegawai/daftar-pegawai}" class="nav-link"><span data-hover="Daftar Pegawai">Daftar Pegawai</span></a>
                </li>
                <li th:classappend="${#request.requestURI.contains('/pegawai/add-pegawai') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/pegawai/add-pegawai}" class="nav-link"><span data-hover="Buat Pengguna">Buat Pengguna</span></a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/logout}" class="nav-link"><span data-hover="Logout">Logout</span></a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<nav th:fragment="navbar-factory-manager" class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img alt="" src="images/partner/sifactory2.png" style="width: 20%; height: 20%;" class=""/>
            SI-Factory</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav-factory-manager" aria-controls="navbarNav-factory-manager" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav-factory-manager">
            <ul class="navbar-nav mx-auto">
                <li th:classappend="${#request.requestURI.contains('/item/daftar-item') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/item/daftar-item}" class="nav-link"><span data-hover="Daftar Item">Daftar Item</span></a>
                </li>
                <li th:classappend="${#request.requestURI.contains('/produksi/daftar-produksi') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/produksi/daftar-produksi}" class="nav-link"><span data-hover="Daftar Produksi">Daftar Produksi</span></a>
                </li>
                <li th:classappend="${#request.requestURI.contains('/item/propose-item') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/item/propose-item}" class="nav-link"><span data-hover="Propose Item">Propose Item</span></a>
                </li>
                <li th:classappend="${#request.requestURI.contains('/pegawai/daftar-pegawai') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/pegawai/daftar-pegawai}" class="nav-link"><span data-hover="Daftar Pegawai">Daftar Pegawai</span></a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/logout}" class="nav-link" onclick="return confirm('Apakah Anda yakin ingin logout?');"><span data-hover="Logout">Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav th:fragment="navbar-staff-gudang" class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img alt="" src="images/partner/sifactory2.png" style="width: 20%; height: 20%;" class=""/>
            SI-Factory</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav-staff-gudang" aria-controls="navbarNav-staff-gudang" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav-staff-gudang">
            <ul class="navbar-nav mx-auto">
                <li th:classappend="${#request.requestURI.contains('/item/daftar-item') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/item/daftar-item}" class="nav-link"><span data-hover="Daftar Item">Daftar Item</span></a>
                </li>
                <li th:classappend="${#request.requestURI.contains('/produksi/daftar-produksi') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/produksi/daftar-produksi}" class="nav-link"><span data-hover="Daftar Produksi">Daftar Produksi</span></a>
                </li>
                <li th:classappend="${#request.requestURI.contains('/request/daftar-request') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/request/daftar-request}" class="nav-link"><span data-hover="Daftar Request Update Item">Daftar Request Update Item</span></a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/logout}" class="nav-link" onclick="return confirm('Apakah Anda yakin ingin logout?');"><span data-hover="Logout">Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav th:fragment="navbar-staff-kurir" class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img alt="" src="images/partner/sifactory2.png" style="width: 20%; height: 20%;" class=""/>
            SI-Factory</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav-staff-kurir" aria-controls="navbarNav-staff-kurir" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav-staff-kurir">
            <ul class="navbar-nav mx-auto">
                <li th:classappend="${#request.requestURI.contains('/item/daftar-item') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/item/daftar-item}" class="nav-link"><span data-hover="Daftar Item">Daftar Item</span></a>
                </li>
                <li th:classappend="${#request.requestURI.contains('/produksi/daftar-produksi') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/produksi/daftar-produksi}" class="nav-link"><span data-hover="Daftar Produksi">Daftar Produksi</span></a>
                </li>
                <li th:classappend="${#request.requestURI.contains('/delivery/daftar-delivery') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/delivery/daftar-delivery}" class="nav-link"><span data-hover="Daftar Delivery">Daftar Delivery</span></a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/logout}" class="nav-link" onclick="return confirm('Apakah Anda yakin ingin logout?');"><span data-hover="Logout">Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav th:fragment="navbar-staff-operasional" class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img alt="" src="images/partner/sifactory2.png" style="width: 20%; height: 20%;" class=""/>
            SI-Factory</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav-staff-operasional" aria-controls="navbarNav-staff-operasional" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav-staff-operasional">
            <ul class="navbar-nav mx-auto">
                <li th:classappend="${#request.requestURI.contains('/item/daftar-item') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/item/daftar-item}" class="nav-link"><span data-hover="Daftar Item">Daftar Item</span></a>
                </li>
                <li th:classappend="${#request.requestURI.contains('/produksi/daftar-produksi') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/produksi/daftar-produksi}" class="nav-link"><span data-hover="Daftar Produksi">Daftar Produksi</span></a>
                </li>
                <li th:classappend="${#request.requestURI.contains('/request/daftar-request') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/request/daftar-request}" class="nav-link"><span data-hover="Daftar Request Update Item">Daftar Request Update Item</span></a>
                </li>
                <li th:classappend="${#request.requestURI.contains('/delivery/daftar-delivery') ? 'active':''}" class="nav-item; font-color-black">
                    <a th:href="@{/delivery/daftar-delivery}" class="nav-link"><span data-hover="Daftar Delivery">Daftar Delivery</span></a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/logout}" class="nav-link" onclick="return confirm('Apakah Anda yakin ingin logout?');"><span data-hover="Logout">Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section th:fragment="team" id="team" class="py-4">
    <h1 class="animated animated-text">
        <br /><br />
        <div class="text-center">
            <span class="mr-2" th:text="'OUR TEAM'"></span>
        </div>
        <p>Tim dibalik pengembangan website SI-Factory</p>
    </h1>
    <!--container---------------->
    <div class="container">
        <!--box-1----------->
        <div class="box">
            <!--top-bar---------------->
            <div class="top-bar"></div>
            <!--nav------------->
            <div class="nav">
                <!--verify-icon-------->
                <i class="verify fas fa-check-circle"></i>
            </div>
            <!--img and details---------------->
            <div class="details">
                <img alt="" src="images/team/yona.png" />
                <strong>Herbiyona Herlambang</strong>
                <p>herbiyona@ui.ac.id</p>
                <br><br>
                <div class="btnteam">
                    <a href="https://www.linkedin.com/in/herbiyona-h-a192531b3" target="_blank">LinkedIn</a>
                </div>
            </div>
        </div>
        <!--box-2----------->
        <div class="box">
            <!--top-bar---------------->
            <div class="top-bar"></div>
            <!--nav------------->
            <div class="nav">
                <!--verify-icon-------->
                <i class="verify fas fa-check-circle"></i>
            </div>
            <!--img and details---------------->
            <div class="details">
                <img alt="" src="images/team/aisyah.png" />
                <strong>Aisyah Indonesia</strong>
                <p>indonesiamazaya@gmail.com</p>
                <br><br>
                <div class="btnteam">
                    <a href="https://www.linkedin.com/in/mazayazyn" target="_blank">LinkedIn</a>
                </div>
            </div>
        </div>
        <!--box-3----------->
        <div class="box">
            <!--top-bar---------------->
            <div class="top-bar"></div>
            <!--nav------------->
            <div class="nav">
                <!--verify-icon-------->
                <i class="verify fas fa-check-circle"></i>
            </div>
            <!--img and details---------------->
            <div class="details">
                <img alt="" src="images/team/hb.png" />
                <strong>Hafiz Bhadrika</strong>
                <p>hafiznasution2002@gmail.com</p>
                <br><br>
                <div class="btnteam">
                    <a href="https://www.linkedin.com/in/hafizbhadrikaalamsyah" target="_blank">LinkedIn</a>
                </div>
            </div>
        </div>
        <!--box-4----------->
        <div class="box">
            <!--top-bar---------------->
            <div class="top-bar"></div>
            <!--nav------------->
            <div class="nav">
                <!--verify-icon-------->
                <i class="verify fas fa-check-circle"></i>
            </div>
            <!--img and details---------------->
            <div class="details">
                <img alt="" src="images/team/aisha.png" />
                <strong>Aisha Salsabila</strong>
                <p>aisha.salsabila91@ui.ac.id</p>
                <br><br>
                <div class="btnteam">
                    <a href="https://www.linkedin.com/in/aisha-salsabila-0904" target="_blank">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section th:fragment="partner" id="partner">
    <h1 class="animated animated-text">
        <br /><br />
        <div class="text-center">
            <span class="mr-2" th:text="'IN COLLABORATION WITH'"></span>
            <p>Si Factory bekerja sama dengan beberapa produk lainnya dalam mendukung bisnis proses Si Factory. </p>
        </div>
    </h1>
    <!--container---------------->
    <section class="container pb-xl-5">
        <div class="d-flex justify-content-center">
            <div class="col-md-6 mx-2">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                
                    <img alt="" src="images/partner/sr.png" style="width: 25%; height: 25%;" class="m-auto px-2"/>
                <div class="col py-4 d-flex flex-column position-static">
                  <h3 class="mb-0">SI-Retail</h3>
                  <p class="">Sebuah sistem informasi yang dapat digunakan untuk mengelola
                    cabang-cabang yang dimiliki oleh PT Will Urlaub. </p>
                  <a href="https://siret4il.herokuapp.com/" target="_blank" class="stretched-link">See product</a>
                </div>
                <!-- <div class="col-auto d-none d-lg-block">
                  <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        
                </div> -->
              </div>
            </div>
            <div class="col-md-6 mx-2">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  
                <img alt="" src="images/partner/sb.png" style="width: 25%; height: 25%;" class="m-auto px-5"/>
                <div class="col py-4 d-flex flex-column position-static">
                  <h3 class="mb-0">SI-Business</h3>
                  <p class="">Sebuah sistem informasi yang dapat digunakan untuk mengelola penerimaan item, pembuatan kupon, dan request cabang.</p>
                  <a href="https://sibusiness-c03-7.herokuapp.com" target="_blank" class="stretched-link">See product</a>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center pb-xl-5">
            <div class="col-md-6 mx-2">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  
                <img alt="" src="images/partner/siitem.png" style="width: 25%; height: 25%;" class="m-auto px-2"/>
                <div class="col py-4 d-flex flex-column position-static">
                  <h3 class="mb-0">SI-Item</h3>
                  <p class="">Merupakan Manajemen Supply Barang yang memasok pasokan barang yang dibutuhkan antara masing-masing produk.</p>
                  <a href="https://si-item.herokuapp.com/swagger-ui/index.html" target="_blank" class="stretched-link">See product</a>
                </div>
              </div>
            </div>
          </div>
    </section>

</section>

<section th:fragment="docs" id="docs" class="py-4 p-xl-5">
    <div class="d-flex flex-row justify-content-center p-xl-5">
        <div class="m-auto w-50 d-flex justify-content-center d-flex flex-column p-xl-5">
            <h3>SI-Factory API Documentation</h3>
            <p> 
                SI-Factory menyediakan API yang dapat digunakan untuk mengoptimasi proses bisnis aplikasi kamu.
            </p>
            <div class="btnteam justify-content-start">
                <a href="https://documenter.getpostman.com/view/15423249/UVJkBDPi" target="_blank">Dokumentasi</a>
            </div>

        </div>
        <div class="m-auto w-50 d-flex justify-content-center">
            <img alt="" src="images/undraw/API.png" class="w-75"/>
        </div>
        
    </div>
</section>

<footer th:fragment="footer" class="footer py-5">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <p class="copyright-text text-center">Copyright &copy; 2021 SI-Factory. All rights reserved</p>
                <p class="copyright-text text-center">Designed by <a rel="nofollow">Kelompok C03-8</a></p>
            </div>

        </div>
    </div>
</footer>
</body>
</html>