<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Detail Item</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<div class="container">
    <div sec:authorize="hasAnyAuthority('STAFF_OPERASIONAL')">
        <nav th:replace="fragments/fragment :: navbar-staff-operasional"></nav>
    </div>
    <div sec:authorize="hasAnyAuthority('STAFF_GUDANG')">
        <nav th:replace="fragments/fragment :: navbar-staff-gudang"></nav>
    </div>
    <div sec:authorize="hasAnyAuthority('STAFF_KURIR')">
        <nav th:replace="fragments/fragment :: navbar-staff-kurir"></nav>
    </div>
    <div sec:authorize="hasAnyAuthority('ADMIN')">
        <nav th:replace="fragments/fragment :: navbar-admin"></nav>
    </div>
    <div sec:authorize="hasAnyAuthority('FACTORY_MANAGER')">
        <nav th:replace="fragments/fragment :: navbar-factory-manager"></nav>
    </div>
    <br><br><br>
    <div class="card mx-auto" >
        <div class="card-header">
            <div class="d-flex justify-content-center">
                <h2>Detail Item</h2>
            </div>
        </div>
        <div class="card-body">
            <div th:object="${item}" method="POST">
                <input type="hidden" th:field="${item.uuid}">
                <p th:text="'Nama : ' + ${item.nama}"></p>
                <p th:text="'Harga : ' + ${item.harga}"></p>
                <p th:text="'Stok : ' + ${item.stok}"></p>
                <p th:text="'Kategori : ' + ${item.kategori}"></p>
            </div>
            <div class="d-flex justify-content-center">
                <div class="justify-content-center">
                    <table class="table table-striped">
                        <thead class="text-center">
                        <div class="d-flex justify-content-center">
                            <h4>Produksi</h4>
                        </div>
                        <tr>
                            <th>Id Produksi</th>
                            <th>Tanggal Produksi</th>
                            <th>Nama Pegawai</th>
                            <th>Nama Mesin</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr th:each="produksi : ${detailProduksi}" style="text-align: center">
                                    <td th:text="${produksi.idProduksi}"></td>
                                    <td th:text="${produksi.tanggalProduksi}"></td>
                                    <td th:text="${namaPegawai}"></td>
                                    <td th:text="${namaMesin}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div th:if="*{detailProduksi == null}">
                        <p class="text-center">Tidak ada produksi pada item ini</p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>