<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title> Error Page </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<div sec:authorize="hasAuthority('ADMIN')">
    <nav th:replace="fragments/fragment :: navbar-admin"></nav>
</div>
<div sec:authorize="hasAnyAuthority('FACTORY_MANAGER')">
    <nav th:replace="fragments/fragment :: navbar-factory-manager"></nav>
</div>
<div sec:authorize="hasAnyAuthority('STAFF_GUDANG')">
    <nav th:replace="fragments/fragment :: navbar-staff-gudang"></nav>
</div>
<div sec:authorize="hasAnyAuthority('STAFF_KURIR')">
    <nav th:replace="fragments/fragment :: navbar-staff-kurir"></nav>
</div>
<div sec:authorize="hasAnyAuthority('STAFF_OPERASIONAL')">
    <nav th:replace="fragments/fragment :: navbar-staff-operasional"></nav>
</div>


<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 th:text="'Ups! Ada kesalahan, Anda tidak bisa melakukan ' + ${page} + ' untuk ' + ${tipe} + ' karena ' + ${cause}"></h2>
                <br>
                <a class="btn btn-primary" th:href="@{/}">Kembali</a>
            </div>
        </div>
    </div>
</div>

</body>

</html>