<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Add Pegawai</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<div sec:authorize="hasAnyAuthority('ADMIN')">
    <nav th:replace="fragments/fragment :: navbar-admin"></nav>
</div>
<div class="container">
    <div class="d-flex justify-content-center">
    <div class="col-md-6">
        <br>
            <div class="card">
                <div class="card-body justify-content-center">
                    <h3>Tambah User Baru</h3>
                    <form th:action="@{/pegawai/add-pegawai}" method="POST" onsubmit="return confirm('Apakah Anda yakin ingin submit form?');">
                        <label>Nama</label><br>
                        <input required type="text" name="nama" class="form-control" />
                        <br>

                        <label>Tanggal Lahir</label><br>
                        <input required type="date" name="tanggalLahir" class="form-control" />
                        <br>

                        <label>Username</label><br>
                        <input required type="text" name="username" class="form-control" />
                        <br>

                        <label>Email</label><br>
                        <input required type="email" name="email" class="form-control" />
                        <br>

                        <label>Password</label><br>
                        <input required type="password" name="password" class="form-control"/>
                        <br>

                        <label>Role</label><br>
                        <select required name="role" class="form-control">
                            <option selected value="">-- Pilih Role --</option>
                            <option th:each="role : ${listRole}" th:value="${role.idRole}" th:text="${role.namaRole}"></option>
                        </select>
                        <br>
                        <button type="submit" class="btn btn-warning">Simpan</button>
                        <button class="btn btn-link" href="/">Home</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>