<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Si Factory</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
  
      <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-md-6">
                <br>
                <div class="card">
                    <div class="card-body justify-content-center">
                        <h3>Update Stok Item</h3>
                        <p th:text="${item.nama}"></p>
                        <form th:action="@{/item/propose-item}" th:object="${proposeItem}" method="POST" onsubmit="return confirm('Apakah Anda yakin ingin menambah jumlah item?');">
                            <label>Nama Item</label>
                            <input required type="text" name="nama" class="form-control" th:placeholder="${item.nama}" disabled />
    
                            <label>Harga Item</label>
                            <input required type="number" name="harga" class="form-control" th:placeholder="${item.harga}" disabled/>
    
                            <label>Stok Item</label>
                            <input required type="number" name="stok" class="form-control" placeholder="Masukkan Jumlah Stok yang ingin ditambahkan" />
    
                            <label>Mesin</label>
                            <select name="kategori" class="form-control">
                                <option selected value="">-- Pilih Kategori --</option>
                                <option th:each="mesin : ${listMesin}" th:value="${mesin.idMesin}" th:text="${mesin.nama}"></option>
                            </select>
                            <br>
    
                            <label>Cluster Item</label>
                            <input disabled type="text" name="cluster" class="form-control" value="C03"/>
    
                            <br>
                            <button class="btn btn-outline-primary" href="/">Kembali</button>
                            <button type="submit" class="btn btn-warning">Simpan</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>