<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <title>Daftar Produksi</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
  </head>
  <body>
    <div class="container">

      <br /><br />
      <div class="card m-4 p-4">
        <div class="card-body">
          <h2>Daftar Produksi</h2>
          <div class="d-flex justify-content-center">
            <div>
              <table class="table table-striped">
                <thead class="text-center">
                  <tr>
                    <th>No</th>
                    <th>Id Kategori</th>
                    <th>Id Request Update Item</th>
                    <th>Tambahan Stok</th>
                    <th>Tanggal Produksi</th>
                    <th>Id Mesin</th>
                    <th>Nama Pegawai</th>
                    <th>Id Item</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <tr
                    th:each="produksi, iterationStatus : ${listProduksi}"
                    style="text-align: center"
                  >
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${produksi.idKategori}"></td>
                    <td th:if="${produksi.requestUpdateItem == NULL}">-</td>
                    <td
                      th:unless="${produksi.requestUpdateItem == NULL}"
                      th:text="${produksi.requestUpdateItem.idRequestUpdateItem}"
                    ></td>
                    <td th:text="${produksi.tambahanStok}"></td>
                    <td th:text="${produksi.tanggalProduksi}"></td>
                    <td th:text="${produksi.mesin.idMesin}"></td>
                    <td th:text="${produksi.pegawai.nama}"></td>
                    <td th:text="${produksi.idItem}"></td>
<!-- 
                    <td>
                                                 TODO: sinkronkan href ke mapping di controller yang render template detail & update
                      <a
                        class="btn btn-sm btn-primary"
                        th:href="@{/item/view/} + ${item.uuid}"
                        >Detail</a
                      >
                    </td> -->
                    <td>
                      <a
                        sec:authorize="hasAnyAuthority('STAFF_GUDANG')"
                        class="btn btn-sm btn-warning"
                        th:href="@{/item/update/} + ${item.uuid}"
                        >Update</a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
