<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Daftar Request Update Item</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<div class="container">
    <div sec:authorize="hasAnyAuthority('STAFF_OPERASIONAL')">
        <nav th:replace="fragments/fragment :: navbar-staff-operasional"></nav>
    </div>
    <div sec:authorize="hasAnyAuthority('STAFF_GUDANG')">
        <nav th:replace="fragments/fragment :: navbar-staff-gudang"></nav>
    </div>
    <br><br><br>
    <div class="card mx-auto" >
        <div class="card-header">
            <div class="d-flex justify-content-center">
                <h2>Daftar Request Update Item</h2>
            </div>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div class="justify-content-center">
                    <div th:if="*{listRequest.size() != 0}">
                        <table class="table table-striped">
                            <thead class="text-center">
                            <tr>
                                <th>ID Request</th>
                                <th>Tanggal Request</th>
                                <th>Nama Item</th>
                                <th>Kategori</th>
                                <th>Stok Tambahan</th>
                                <th>Executed</th>
                                <th>ID Produksi</th>
                                <th>ID Delivery</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody class="text-center">
                            <tr th:each="request : ${listRequest}" style="text-align: center">
                                <td th:text="${request.idRequestUpdateItem}"></td>
                                <td th:text="${request.tanggalRequest}"></td>
                                <div th:each="item : ${listItem}">
                                    <td th:if="${item.uuid} == ${request.idItem}" th:text="${item.nama}"></td>
                                    <td th:if="${item.uuid} == ${request.idItem}" th:text="${item.kategori}"></td>
                                </div>
                                <td th:text="${request.tambahanStok}"></td>
                                <td th:if="${request.executed} == false">&#10006;</td>
                                <td th:if="${request.executed} == true">&#10004;</td>
                                <td th:if="${request.produksi} == null">&#45;</td>
                                <td th:if="${request.produksi} != null" th:text="${request.produksi.idProduksi}"></td>
                                <td th:if="${request.executed} == true and ${request.delivery} == null" sec:authorize="hasAnyAuthority('STAFF_OPERASIONAL')"><a class="btn btn-sm btn-warning" th:href="@{/delivery/assign-kurir/} + ${request.idRequestUpdateItem}">Buat Delivery</a></td>
                                <td th:if="${request.executed} == false and ${request.delivery} == null" sec:authorize="hasAnyAuthority('STAFF_OPERASIONAL')">&#45;</td>
                                <td th:if="${request.executed} == true and ${request.delivery} == null" sec:authorize="hasAnyAuthority('STAFF_GUDANG')">&#45;</td>
                                <td th:if="${request.executed} == false and ${request.delivery} == null" sec:authorize="hasAnyAuthority('STAFF_GUDANG')">&#45;</td>
                                <td th:if="${request.delivery} != null" th:text="${request.delivery.idDelivery}"></td>
                                <td th:if="${request.executed} == false" sec:authorize="hasAnyAuthority('STAFF_GUDANG')">
                                    <a class="btn btn-sm btn-warning" th:href="@{/request/updateItemByRequest/} + ${request.idRequestUpdateItem}">Update</a>
                                </td>
                                <td th:unless="${request.executed} == false" sec:authorize="hasAnyAuthority('STAFF_GUDANG')">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:unless="*{listRequest.size() != 0}" style="text-align: center">
                        <br><br>
                        <img th:src="@{/images/undraw/no-data.svg}" class="img-fluid" alt="svg image" style="max-width: 100%; height: auto" width="200">
                        <br><br>
                        <h5 th:text="'Tidak ada request yang tersedia'" style="color: #6c757d"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>