<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Login </title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/unicons.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/tooplate-style.css">
</head>

<body>
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="justify-content-center">
                <h3>Login To SI-Factory</h3><br>
            </div>
                <div th:if="${param.error}">
                    <span style="color: red">Invalid username or password</span>
                </div>
            <div class="justify-content-center">
                <form th:action="@{/login}" method="POST">
                    <div class="row form-group">
                        <label class="col-sm-4">Username</label>
                        <input type="text" class="col-sm-8 form-control input-sm" name="username"/>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-4">Password</label>
                        <input type="password" class="col-sm-8 form-control input-sm" name="password"/>
                    </div>
                    <div class="row form-group justify-content-center">
                        <button type="submit" class="btn btn-warning">Sign In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>