<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Success Kirim Delivery</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<div sec:authorize="hasAnyAuthority('STAFF_KURIR')">
    <!-- MENU -->
    <nav th:replace="fragments/fragment :: navbar-staff-kurir"></nav>
</div>
<br><br>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 th:text="'Pengiriman berhasil dan akan diantarkan ke ' + ${alamat}"></h2>
                <br>
                <a class="btn btn-primary" th:href="@{/delivery/daftar-delivery}">Kembali ke Daftar Delivery</a>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <footer th:replace="fragments/fragment :: footer"></footer>
</div>

</body>

</html>